 body{
 padding:0; margin:0; background:#ffffff; color:#111406;
 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif ; 
  background: url("johan789.github.io/melonback.jpg") 
 }

.spacer{
clear:both; line-height:0; font-size:0;
}


/*header session start from here*/
#header{
width:1287px;
height:33px;
margin:0 auto;
position:relative;
background:#00ff54;
}

#header2{
width:1287px;
height:190px;
margin:0 auto;
position:relative;
}

#mainbody{
width:1000px;
height:500px;
margin:0 auto;
margin-top:-100px;
position:relative;
border:1px solid #000000;
 background: url("johan789.github.io/background1.jpg")
}

#navigasion{
width:990px;
height:40px;
margin:0 auto;
margin-top:5px;
position:relative;
background:#81def9;
border:1px solid #3c18f4;
}

#headline{
width:650px;
height:380px;
margin:0 auto;
margin-top:10px;
margin-left:10px;
float:left;
position:relative;
background: url("johan789.github.io/background1.jpg")
border:5px solid #8cadde;
}

#rightside{
width:290px;
height:380px;
margin:0 auto;
margin-top:10px;
margin-right:10px;
float:right;
position:relative;
background:#ffffff;
border:5px solid #8cadde;
}

footer {
 background:#00ff54;
